<h1>   <%= @song.name %>   </h1>

<h2>
  <a href="../artists/<%= @song.artist.slug %>">
    <%= @song.artist.name  %>
  </a>
</h2>


<!-- songs' genres' links -->

<ul>
<% @song.song_genres.each do |song_genre| %>
    <li>
  <a href="../genres/<%= song_genre.genre.slug %>">     <%= song_genre.genre.name %> </a>
    </li>
<% end %>
</ul>
